<!DOCTYPE html>
<html>
  <head>
    <title>Neymar Jr. Profile</title>
    <link rel="stylesheet" href="/style/styles.css">
  </head>
  <body>
    <div class="profile">
      <h1>Neymar Jr</h1>
      <img src="/images/neymar.jpg" alt="Neymar Jr" />
      <p>Position: Forward</p>
      <p>Country: Brazil</p>
      <p>Club: Paris Saint-Germain (PSG)</p>
    </div>
  </body>
</html>

